.pb {
    background: url("../img/Div.gif") center/cover no-repeat;
}

.global {
    text-align: center;
    margin-top: 3.9rem;
}

.dis-sto .global {
    margin-top: 6.9rem;
}

.global .circle {
    color: rgb(11, 12, 11);
    margin: 2.4rem 0;
}

.global .h2-sub {
    letter-spacing: -1px;
    line-height: 0.42;
    font-size: 3rem;
}

.head {
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}